* {
    font-family: "Poppins";
}



#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 76px;
    padding-top: 18px;
    background: linear-gradient(123deg, #FFF -1.13%, #204921 76.51%);
    padding-bottom: 0px;
}

nav {
    display: flex;
    align-items: center; 
}

.nav-panah {
    background-color: transparent;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav img {
    width: 65px;
    height: 63px;
    flex-shrink: 0;
    background-color: white;
    background: transparent;
}

nav a:first-child {
    margin-left: 0; 
}

.panah {
    background-color: white;
    background: transparent;
    margin-right: 0px;
}

.logo {
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 163px;
    background: url(img/IMG_7479.JPG) lightgray 50% / cover no-repeat;

}

#landing h2 {
    margin-top: 125px;
    margin-bottom: 0px;
    color: #FFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

#landing h1 {
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 200px;
    color: #FFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

#landing h3 {
    margin-top: 1px;
    margin-right: 200px;
    color: #FFF;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

.button-container {
    margin-top: 21px !important;
    margin-bottom: 217px;
    display: flex;
    gap: 52px;
}


.btn, .btn2 {
    width: 237px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
}

.btn {
    background-color: #15DF2D;
    color: white;
}

.btn2 {
    background-color: white;
    color: #15DF2D;
    border: 2px solid #15DF2D;
}

#features{
    background-image: url(img/Rectangle\ 3.png);
}

.features-header {
    display: flex;
    justify-content: center;
    text-align: center; 
    background: linear-gradient(90deg, #4CAF50 0%, #204921 100%);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0%;
}

.features-header h1 {
    margin-top: 9px;
    margin-bottom: 9px;
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tombol-info a {
    text-decoration: none;
}

.tombol-info a h2  {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 107px;
    margin-left: 644px;
    margin-right: 200px;
}

.tombol-info a p {
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 644px;
    padding-right: 60px;
}

.tombol-info a img{
    padding-left: 166px;
    padding-bottom: 86px;
    margin-top: -300px;
    display: flex;
    width: 438px;
    height: 345px;
    flex-shrink: 0;
}

.alt a h2 {
    margin-left: 100px;
    padding-right: 613px;
}

.alt a p {
    margin-left: 100px;
    padding-right: 613px;
}

.alt a img {
    margin-left: 561px;
    padding-bottom: 86px;
    margin-top: -300px;
    display: flex;
    width: 438px;
    height: 345px;
    flex-shrink: 0;
}

footer{
    height: 114px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #4CAF50 0%, #204921 100%);
}