* {
    font-family: "Poppins";
}



#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 76px;
    padding-top: 18px;
    background: linear-gradient(123deg, #FFF -1.13%, #204921 76.51%);
    padding-bottom: 0px;
}

nav {
    display: flex;
    align-items: center; 
}

.nav-panah {
    background-color: transparent;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav img {
    width: 65px;
    height: 63px;
    flex-shrink: 0;
    background-color: white;
    background: transparent;
}

nav a:first-child {
    margin-left: 0; 
}

.panah {
    background-color: white;
    background: transparent;
    margin-right: 0px;
}

.logo {
    margin-top: -10px;
    margin-left: -250px;
    margin-bottom: 5px;
}

section{
    background-image: url(img/Rectangle\ 3\ \(1\).png);
    padding: 0;
    margin: 0;
}

section + section {
    margin-top: 0;
    padding-top: 0;
}

.gambar-tengah{
    display: grid;
    place-items: center;
    padding-top: 100px;
    margin-bottom: 78px;
}

.penjelasan {
    margin-left: 164px;
    margin-right: 164px;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pencarian {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 112px;
    height: 45px;
}

.pencarian form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search{
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    width: 380px;
}

.pencarian img {
    width: 20px; 
    height: 20px;
    padding-left: 0px;
    margin-right: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5; 
    border-radius: 25px;
    padding: 1px 10px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    color: #333; 
    font-weight: 500;
    gap: 10px; 
}

.filter img {
    width: 20px; 
    height: 20px;
}

.filter button {
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    padding: 10px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.btn {
    height:45px; 
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 16px;
    background: linear-gradient(123deg, #4CAF50, #204921);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    flex-shrink: 0;
}

.map {
    display: grid;
    place-items: center;
}

#landing {
    background-image: url(img/Rectangle\ 3\ \(5\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0; 
    padding-bottom: 100px;
}

#map {
    margin: 0 auto;
    display: block;
    height: 600px;
    width: 1200px;
}